# ignore husky hooks
.husky/* linguist-vendored

# ignore vendored and test-related .js files
./*.js linguist-vendored
**/bin/*.js linguist-vendored
**/tests/fixtures/**/*.js linguist-vendored
**/tests/fixtures/**/*.mjs linguist-vendored

# scripts with node hashbang will be falsily reported as javascript
scripts/*.ts linguist-vendored

